---
import { Image } from '@astrojs/image/components';

import { GradientText } from '../react/GradientText';

const { src, alt, link, text, show } = Astro.props;
---

{
  show && (
    <a href={link} class="flex items-center gap-2 hover:translate-y-1">
      <Image height={48} width={48} src={src} alt={alt} />
      <span>
        <GradientText>{text}</GradientText>
      </span>
    </a>
  )
}
