---
import { Image } from '@astrojs/image/components';

import SocialButtons from '@/components/astro/SocialButtons.astro';
import { GradientText } from '@/components/react/GradientText';
import { socials } from '@/data/socials.json';
---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col items-center md:flex-row-reverse md:justify-between md:gap-x-24"
  >
    <div class="shrink-0 mb-10">
      <Image
        src="/assets/images/Photo.png"
        alt="Photograph"
        height={240}
        width={240}
        format="webp"
        aspectRatio={1}
        class="rounded-full border-8 border-slate-800 object-cover"
      />
    </div>
    <div>
      <h1 class="text-3xl font-bold">
        Hello there, I'm <GradientText>Will Featherston</GradientText> 👋
      </h1>
      <p class="mt-6 text-xl leading-9">
        I'm a <GradientText>Full-Stack Web Developer</GradientText> based in Canada,
        who is passionate about Web Development, Open-source, Web Accessiblity and
        Design. I enjoy contributing to open source projects and creating web applications
        that are responsive, powerful and accessible to all. I sometimes program
        under the pseudonym <GradientText>FitzHawke</GradientText>.
      </p>
      <div class="mt-3 flex gap-1">
        {
          socials.map((social) => (
            <SocialButtons
              src={social.imgSrc}
              alt={social.imgAlt}
              link={social.link}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
